<?xml version="1.0"?>
<robot  name="wall" >
 <link  name="wall" >
  <visual >
   <origin  xyz="0 0 1.0" />
   <geometry >
    <box  size="2 0.5 2" />
   </geometry>
  </visual>
  <collision >
   <origin  xyz="0 0 1.0" />
   <geometry >
    <box  size="2 0.5 2" />
   </geometry>
  </collision>
 </link>
</robot>
